@font-face {
	font-family: 'Roboto';
 
	src: url('RobotoSlab-Bold.ttf') format('ttf');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	font-weight: bold;
}

@font-face {
	font-family: 'Roboto';
 
	src: url('RobotoSlab-Light.ttf') format('ttf');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	font-weight: 500;
}
@font-face {
	font-family: 'Roboto';
 
	src: url('RobotoSlab-Regular.ttf') format('ttf');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto';
 
	src: url('RobotoSlab-Thin.ttf') format('ttf');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	font-weight: 200;
}